.app {
  text-align: center;

}

.app h1 {
  font-size: 1.3em;
  font-weight: bolder;
  margin-bottom: 5px;
}

.app-img {
  height: 100px;
  width: auto;
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 5px solid red;
  width: 350px;
  border-radius: 30px;
}
